<a class="Home" href="/">Home</a>
	<div class="url-header">
	<h1>URL Index</h1>
</div>

<div class="all-links">
	<table class="center" id="t01">
	  <tr>
	    <th>Original URL</th>
	    <th>Mini URL</th>
	    <th>Views</th>
	    <th>Day/Time Created</th>
	  </tr>
	  <tr>
		<% @urls.each do |url|%>
			<td><%= truncate(url.original_url, length: 50, omission: '... (et cetera)', escape: false) %></td>
	    <td><%= link_to url.display_tiny_url, url_path(url.id) %></td>
	    <td><%= url.clicks %></td>
	    <td><%= url.time %></td>
	  </tr>
		<% end %>
	</table>
</div>
