// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.url-home {
  top: -200px;
  text-align: center;
}

#url {
  width: 99%;
  text-align: center;
}

.mini {
  right: -10px;
  bottom: 80px;
}

.tiny_url {
  text-align: center;
  top: 50px;
}

.all-links {
  position: center;
}

.url-header {
  text-align: center;
}

table.center {
  top: 50px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
   th, td {
     text-align: center;
     border: 1px solid black;
     border-collapse: collapse;
   }
 }

table#t01 tr:nth-child(even) {
  background-color: #BA55D3;
}

table#t01 tr:nth-child(odd) {
  background-color: #BDB76B;
}

table#t01 th	{
  background-color: black;
  color: white;
}

.filter {
  text-align: center;
}
