// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.url-home {
  top: -200px;
  text-align: center;
}

#url {
  width: 99%;
  text-align: center;
}

.alert-danger {
  background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  border-radius: 4px;
  padding-left: 15px;
}

.mini {
  right: -200px;
  bottom: 20px;
}

.tiny_url {
  text-align: center;
  top: 100px;
}
